* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    rgba(243, 144, 79, 1) 30%,
    rgba(59, 67, 113, 1) 90%
  );
  padding: 0px;
  margin: 0px;
}

main {
  height: max-content;
}

h1 {
  margin: 0px;
  text-align: center;
  font-size: 50px;
}
#sing-in-button,
#check-button {
  font-size: 14px;
}

.control-buttons {
  background-color: honeydew;
  border-radius: 3px;
}

#see-all,
#to-main {
  font-size: 18px;
  width: 30%;
  margin: 10px 35% 50px;
}

#username-area {
  border-radius: 3px;
}

#url-input,
#short-url {
  width: 200px;
}

#header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 20px;
  background-color: #f3904f;
}

#form,
#shorten,
#statistic {
  background-color: seashell;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-width: 4px;
  border-style: groove;
  border-image: initial;
  border-radius: 10px;
}

#statistic {
  margin-bottom: 100px;
}

.buttons {
  margin-top: 10px;
  margin-right: 11px;
}

footer {
  color: white;
  font-size: 18px;
  text-align: center;
  height: 60px;
  padding: 5px;
  background-color: rgb(42, 46, 71);
}

.alert {
  width: 50%;
  padding: 20px;
  background-color: brown;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin: 25px 25% 20px;
}

.alert.success {
  background-color: #04aa6d;
}
.alert.info {
  background-color: #2196f3;
}
.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.users-url {
  border: 3px black solid;
  border-radius: 15px;
  margin: 20px;
  padding: 15px;
}
